.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    padding: 0 12%;
}

.headerLogo {
    width: 150px;
}

.headerNav {
    display: flex;
    gap: 50px;
}

.link {
    text-decoration: none;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.active {
    color: #58A4B0;
}
/* 
.headerRent {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: -6px;       
} */
/* .activeRent {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: -6px;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-color: #58A4B0;
} */

.dropdown > ul {
    list-style-type: none;
}