* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mainPage {
    font-family: Roboto, sans-serif;
    color: #000000;
    margin: 0 140px 52px;
    padding: 40px;
}

.header {
    max-width: 100%;
    height: 80px;
    background-color: #fff;
}

.search {
    background-image: url("./../../assets/images/bg.png");
    height: 570px;
    padding-top: 370px;
}