.convenience {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.convenienceItem {
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0 auto;
    height: 100px;
    width: 200px;
    padding-top: 40px;
}

.convenienceItem:hover {
    border: 2px solid black;
}

.convenienceIcon {
    width: 20px;
    margin-right: 10px;
}

.title {
    margin: 50px 0;
}