.dropdown {
    position: relative;
}

.dropdownBtn {
    padding-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.dropdownBtn:hover {
    color: #58A4B0;
}

.dropdownContent {
    position: absolute;
    top: 80%;
    right: 0%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
}

.dropdownOverlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: transparent;
}

.dropdown .dropdownContent .dropdownItem {
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition: all 0.2s;
}

.dropdownItem {
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #f4f4f4;
}

